<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    Hi
  </h1>
  <p>I AM
    <%= title %>
  </p>
</body>

</html>